<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368484872971-k38gkbg9u1apraeg92upqg4mgj7jh34c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368484872971-k38gkbg9u1apraeg92upqg4mgj7jh34c</string>
	<key>API_KEY</key>
	<string>AIzaSyBkd3RbWHhrjNQn0Y-x-EGQvHHWVZMoMWA</string>
	<key>GCM_SENDER_ID</key>
	<string>368484872971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-6037c</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-6037c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368484872971:ios:8c3cbc88eda2575b35280e</string>
</dict>
</plist>